@model _24DH112473_MyStore.Models.Category
    @*Form con*@
<div class="form-group">
    @*@Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })*@
    <div class="control-label col -md-2">Tên danh mục</div>
    <div class="col-md-10">
        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-dark" />
        @Html.ActionLink("Quay lại Danh sách", "index", null, new { @class = "btn btn-dark " })
    </div>
</div>  